@page "/Admin/Clients"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedSessionStorage ProtectedSessionStore
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@using Microsoft.AspNetCore
@using QRCoder;
@using System.Drawing.Imaging;
@inject IJSRuntime JSRuntime
@using Blazorise
<Fields>
    <Field ColumnSize="ColumnSize.Is4.OnDesktop">
        <InputText @bind-Value="@inputValue" @oninput="OnInput" />
    </Field>
    <Field ColumnSize="ColumnSize.Is4.OnDesktop">
        <Select TValue="int" @bind-SelectedValue="_temp.lookupID" @onchange="filterChange">
            @foreach (var item in _lookups)
            {
                <SelectItem Value="@item.LookupCriteriaID">@item.Description</SelectItem>
            }
        </Select>
    </Field>
    <Field ColumnSize="ColumnSize.Is4.OnDesktop">
        <Select TValue="int" @bind-SelectedValue="_temp.lookupCategoryID" @onchange="filterChangev2">
            @foreach (var item in _filterlookups)
            {
                <SelectItem Value="@item.LookupCriteriaID">@item.Description</SelectItem>
            }
        </Select>
    </Field>
</Fields>
<Table Class="table-striped">
    <TableHeader>
        <TableRow>
            <TableHeaderCell>CLientID</TableHeaderCell>
            <TableHeaderCell>Last Name</TableHeaderCell>
            <TableHeaderCell>First Name</TableHeaderCell>
            <TableHeaderCell>Middle Name</TableHeaderCell>
            <TableHeaderCell>Extension Name</TableHeaderCell>
            <TableHeaderCell>Contact No</TableHeaderCell>
            <TableHeaderCell>Birth Date</TableHeaderCell>
            <TableHeaderCell>Age</TableHeaderCell>
            <TableHeaderCell>Marital Status</TableHeaderCell>
            <TableHeaderCell>Gender</TableHeaderCell>
            <TableHeaderCell>Address</TableHeaderCell>
            <TableHeaderCell>Status</TableHeaderCell>
            <TableHeaderCell>Details</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var serv in clients)
        {
            <TableRow>
                <TableRowCell>@serv.ClientID</TableRowCell>
                <TableRowCell>@serv.LastName</TableRowCell>
                <TableRowCell>@serv.FirstName</TableRowCell>
                <TableRowCell>@serv.MiddleName</TableRowCell>
                <TableRowCell>@serv.ExtensionName</TableRowCell>
                <TableRowCell>@serv.Contact_No</TableRowCell>
                <TableRowCell>@serv.Birthdate</TableRowCell>
                <TableRowCell>@serv.Age</TableRowCell>
                <TableRowCell>@serv.Marital_Status</TableRowCell>
                <TableRowCell>@serv.Gender</TableRowCell>
                <TableRowCell>@(serv.Address_block + " " + serv.Address_HouseNo + " " + serv.Address_Subdivision + " " + serv.Address_Building + " " + serv.Address_Barangay + " " + serv.Address_District + " " + serv.Address_Municipality)</TableRowCell>
                <TableRowCell>@serv.Status</TableRowCell>
                <TableRowCell><button class="rounded-pill" style="background-color:orange;width:fit-content;" @onclick="@( ()=> ShowModal(@serv.ClientID) )">View/Modify</button></TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>
<Modal @bind-Visible="@modalVisible">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Client Information</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@ClientInfo" OnValidSubmit="@SubmitForm">
            <Fields>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>Last Name</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.LastName" />
                </Field>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>First Name</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.FirstName" />
                </Field>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>Middle Name</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.MiddleName" />
                </Field>
                <Field ColumnSize="ColumnSize.Is1.OnDesktop">
                    <FieldLabel>Extn Name</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.ExtensionName" />
                </Field>
            </Fields>
            <Fields>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>Contact No</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Contact_No" />
                </Field>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>Birth Date</FieldLabel>
                    <DateEdit @bind-Date="@ClientInfo.Birthdate"/>
                </Field>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>Gender</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Gender" onchange="" />
                </Field>
            </Fields>
            <Fields>
                <Field ColumnSize="ColumnSize.Is1.OnDesktop">
                    <FieldLabel>Age</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Age" />
                </Field>
                <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                    <FieldLabel>Martal Status</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Marital_Status" />
                </Field>
                <Field ColumnSize="ColumnSize.Is2.OnDesktop">
                        <FieldLabel>Status:</FieldLabel> <FieldLabel>@ClientInfo.Status</FieldLabel>
                        <Select TValue="string" @bind-SelectedValue="@ClientInfo.Statusint" >
                            <SelectItem Value="1">Active</SelectItem>
                            <SelectItem Value="0">In-Active</SelectItem>
                    </Select>
                </Field>
                    <Field ColumnSize="ColumnSize.Is2.OnDesktop">
                        <FieldLabel>Sector:</FieldLabel> <FieldLabel>@_temp.sector</FieldLabel>
                        <Select TValue="int" @bind-SelectedValue="@ClientInfo.SectorID">
                            @foreach (var item in _sector )
                            {
                                <SelectItem Value="@item.SectorID">@item.Description</SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is2.OnDesktop">
                        <FieldLabel>Organization:</FieldLabel> <FieldLabel>@_temp.organization</FieldLabel>
                        <Select TValue="int" @bind-SelectedValue="@ClientInfo.OrganizationID">
                            @foreach (var item in _organization)
                            {
                                <SelectItem Value="@item.OrganizationID">@item.Description</SelectItem>
                            }
                        </Select>
                    </Field>
            </Fields>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel>Block</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_block" />
                    </Field>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel>Lot</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_lot" />
                    </Field>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel>HouseNo</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_HouseNo" />
                    </Field>
                </Fields>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel>SubDivision</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_Subdivision" />
                    </Field>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel>Building No</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_Building" />
                    </Field>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel>Barangay:</FieldLabel> <FieldLabel>@ClientInfo.Address_Barangay</FieldLabel>
                        <Select TValue="int" @bind-SelectedValue="@_temp.BarangayID">
                        @foreach (var item in _barangay)
                        {
                            <SelectItem Value="@item.BarangayID">@item.Name</SelectItem>
                        }
                        </Select>
                    </Field>
                </Fields>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is2.OnDesktop">
                        <FieldLabel>District</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_District" />
                    </Field>
                    <Field ColumnSize="ColumnSize.Is5.OnDesktop">
                        <FieldLabel>Miunicipality</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.Address_Municipality" />
                    </Field>
                </Fields>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is6.OnDesktop">
                        <FieldLabel>QREncriptedData</FieldLabel>
                        <TextEdit @bind-Text="@ClientInfo.QREncriptedData" />
                    </Field>
                </Fields>
                <Button Type="ButtonType.Submit" Color="Color.Primary">Update</Button>
            </EditForm>
            @* <div id="qrcode" style="width:100px;height:100px;background-color:aquamarine;"></div> *@
        </ModalBody>
    </ModalContent>
</Modal>


@code {

    private FormData formData = new FormData();

    private class FormData
    {
        public string Name { get; set; }
        public string Email { get; set; }
    }

    
    

}
